.comment {
  text-align: left;
}

.comment h2 {
  font-weight: bold;
  margin-bottom: -15px;
  margin-top: -1px;
}

.list {
  text-align: left;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image-div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.75rem;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
}

.image-div img {
  border: 2px solid #000;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .image-div {
    /* width: max-content; */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0rem;
    /* border: 1px solid #ccc; */
    margin-bottom: 0.75rem;
  }
  .image-div img {
    border: 2px solid #000;
    width: 99%;
  }
}
