@import url(//db.onlinewebfonts.com/c/4cca73663be210d1abb8d4c8879cd5ce?family=Pricedown);
@font-face {
  font-family: "pricedown";
  src: url("../../fonts/TisaSansPro-Regular.woff") format("woff");
}

.comment {
  text-align: left;
}

.comment h2 {
  font-weight: bold;
  margin-bottom: -15px;
  margin-top: -1px;
}

.list {
  text-align: left;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
