.item-view {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 0.2rem;
  padding-top: 0.25rem;
}

.item-view--key {
  width: 35%;
}

.item-view--value {
  font-weight: bold;
}

.item-view--icon {
  width: 7%;
}
