@font-face {
  font-family: "ff-tisa-sans-web-pro";
  src: url("./fonts/TisaSansPro-Regular.woff") format("woff");
}

body {
  margin: 0;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(68, 68, 68);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
